# Bonus: Temperature Analysis I

In [19]:
import pandas as pd
from datetime import datetime as dt

In [20]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [21]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [22]:
# Set the date column as the DataFrame index
df.set_index('date', inplace = True)

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
# Filter data for desired months
# June
june2010 = df.loc['2010-06-01':'2010-06-30']
june2011 = df.loc['2011-06-01':'2011-06-30']
june2012 = df.loc['2012-06-01':'2012-06-30']
june2013 = df.loc['2013-06-01':'2013-06-30']
june2014 = df.loc['2014-06-01':'2014-06-30']
june2015 = df.loc['2015-06-01':'2015-06-30']
june2016 = df.loc['2016-06-01':'2016-06-30']
june2017 = df.loc['2017-06-01':'2017-06-30']

# December 
dec2010 = df.loc['2010-12-01':'2010-12-31']
dec2011 = df.loc['2011-12-01':'2011-12-31']
dec2012 = df.loc['2012-12-01':'2012-12-31']
dec2013 = df.loc['2013-12-01':'2013-12-31']
dec2014 = df.loc['2014-12-01':'2014-12-31']
dec2015 = df.loc['2015-12-01':'2015-12-31']
dec2016 = df.loc['2016-12-01':'2016-12-31']
dec2017 = df.loc['2017-12-01':'2017-12-31']

In [32]:
# Concat all  the months together across all year 
junetotal = [june2010,june2011,june2012,june2013,june2014,june2015,june2016,june2017]
june_df = pd.concat(junetotal)

dectotal = [dec2010,dec2011,dec2012,dec2013,dec2014,dec2015,dec2016,dec2017]
dec_df = pd.concat(dectotal)
june_df

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [8]:
# Identify the average temperature for June
june_df.tobs.mean()

74.94411764705882

In [9]:
# Identify the average temperature for December
dec_df.tobs.mean()

71.04152933421226

ANALYSIS

In [11]:
# Run paired t-test
stats.ttest_ind(june_df['tobs'], dec_df['tobs'])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [12]:
# A paired T-test would make more sense in this scenario we are interested in the difference between two variables for the same subject. Looking at the t-value of the paired t-test shows that there is great evidence against the null hypothesis, which means that there is a significant difference between the two groups compared. Since the p-value is less than 0.05 indicates that it is statistically significant and therefore we reject the null hypothesis since there is stronger evidence in favor of the alternative hypothesis.